/* You can add global styles to this file, and also import other style files */

body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}
